<!--
    Page will Start with a Home nav bar that will redirect users to General pages for given prosuct categories
    Something like apparel,art,collectibles, etc
-->
<br>
<br>
<br>
<nav class = "z-depth-5">
<span >SPECIAL PART OF OUT STORE. CHECK THEM OUT!</span>
  <a routerLink="/Apparel"> Apparel </a>
  | <a routerLink="/Art">Art </a>
  | <a routerLink="/Collectibles">Collectibles</a>
</nav>


<!--
    Going to start off with a cool img/model and then do a "Top Item List" and then do a meme img by the footer

    This will be the general layout for the home page and the other item category pages
-->
<br>
<div class>
    <img id = "girl" src="https://res.cloudinary.com/rotceh/image/upload/Cool/{{coolNum}}" class = "z-depth-5" alt="Cool img" width="100%" height="100%">
    <img class = "poggers" src = "https://img.fireden.net/v/image/1558/11/1558111394702.png" width = "20%" margin ="20%">
</div>
<br>
    <p>"Top" Item List</p>
    <ul><!--Will need to change this back to items when im done testing the thing-->
        <li *ngFor="let item of items" >
            <a routerLink="/item/{{item.productId}}"> <img src="{{item.meme.memeImg}}"> </a>
        </li>
    </ul>
    <br>
<div>
    <img src="https://res.cloudinary.com/rotceh/image/upload/Meme/{{memeNum}}" class = "z-depth-5" alt="Meme img" width="100%" height="100%">
</div>
<br>