<h3 style = "text-align: center">
    Your Cart!!!!!!!!!!!!
</h3>
<img id = "girl" src="https://res.cloudinary.com/rotceh/image/upload/Cool/{{coolNum}}" class = "z-depth-5" alt="Cool img" width="50%" height="50%">

<div>
     <ul><!--Will need to change this back to items when im done testing the thing-->
        <li *ngFor="let item of cartList" >
            <a routerLink="/item/{{item.productId}}"> <div>
                <p>
                    Details: {{item.productDescription}}  Price: ${{item.price}} Quantity: {{item.quantityInCart}}
                </p>
            </div> </a>
            <button (click)="remove(item.productId)">Remove From Cart</button>

        </li>
    </ul>

</div>

<div *ngIf="isNotEmpty">
    <p>
        Total: ${{grandTotal}}
    </p>
    <a routerLink="/checkout">
        <button >
            Purchase
        </button>
    </a>
</div>
<img id = "girl" src="https://res.cloudinary.com/rotceh/image/upload/Meme/{{memeNum}}" class = "z-depth-5" alt="Meme img" width="50%" height="50%">

