<nav>
    <div class="nav-wrapper" >
     <a routerLink = "/home" class="brand-logo">Mememe Home</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
            <img class = "right hide-on-med-and-down" src = "https://archive.nyafuu.org/foolfuuka/boards/wsr/image/1510/32/1510326873045.gif" style = "width:80px">
        <li>
            
                <div *ngIf="currentUser; else notShow">
                     <a routerLink="/UserPage">Profile </a>
                </div>
                 <ng-template #notShow>
                     <a routerLink="/LogIn">LogIn </a>
                 </ng-template>
        </li>
        <li>
         <div *ngIf="currentUser;">
            <a (click)="logout()">Logout</a>
        </div>
        </li>
        <li>
            <a routerLink="/Cart">Cart </a>
        </li>
    </ul>
</div>
   
</nav>