





        <select (change)="change()" [(ngModel)]="currentColor" class="form-control">
            
            <option value="*">All Colors</option>
            <option *ngFor="let color of colors" value="{{color}}" >{{color}}</option>
        </select>
        
            <select (change)="change()" [(ngModel)]="currentSize" class="form-control">
                   
                    <option value="*">All Sizes</option>
                    <option *ngFor="let size of sizes" value="{{size}}" >{{size}}</option>
            </select> 

            <select (change)="change()" [(ngModel)]="currentType" class="form-control">
                   
                    <option value="*">All Types</option>
                    <option *ngFor="let type of types" value="{{type}}" >{{type}}</option>
            </select>

             <select (change)="change()" [(ngModel)]="currentGender" class="form-control">
                    <option Value="unisex">Unisex</option>
                    <option value="men">Men</option>
                    <option Value="women">Women</option>
                    
            </select>

    

    

 
  

<app-item-list></app-item-list>
