




<div>
        <select (change)="changeColor()" [(ngModel)]="currentColor" class="form-control">
            
                        <option value="">Color</option>
            <option *ngFor="let color of colors" value="{{color}}" >{{color}}</option>
        </select>

            <select (change)="changeSize()" [(ngModel)]="currentSize" class="form-control">
                   
                        <option value="">Size</option>
                    <option *ngFor="let size of sizes" value="{{size}}" >{{size}}</option>
            </select> 

            <select (change)="changeType()" [(ngModel)]="currentType" class="form-control">
                   
                        <option value="">Type</option>
                    <option *ngFor="let type of types" value="{{type}}" >{{type}}</option>
            </select>

             <select (change)="changeGender()" [(ngModel)]="currentGender" class="form-control">
                    <option Value="unisex">Unisex</option>
                    <option value="men">Men</option>
                    <option Value="women">Women</option>
                    
            </select>
</div>

<div>
      <div *ngFor="let item of items" >
        <p>{{item.productName}}</p><a routerLink="/item/{{item.productId}}"><img class = "material" src="{{item.meme.memeImg}}" width = "10%" height="10%"></a>
       </div>
</div>
        

    

    

 
  


