<h4>This is your most up to date shipping info
    <br>
    Feel free to make any changes 
    
</h4>

<form [formGroup]="shippingForm"  >
        <div class="form-group">
                <label for="Address">Address</label>
                <input  formControlName="addressLine1"  value="{{addressInfo[0].addressLine1}}" class="form-control" required />

        </div>

        <div class="form-group">
                <label for="Zip">Zip Code</label>
                <input type="number" formControlName="zipCode" value="{{addressInfo[0].zipCode}}" class="form-control" required minlength="5" 
                maxlength="5" />

        </div>
        <div>
            <button (click)="onSubmit()" [disabled]="!shippingForm.valid"  class="btn btn-primary">
              Update
            </button>
        </div>
    
</form>
