
<form [formGroup]="billingForm">
    <div class="form-group">
        <label for="CardNum">Card Number</label>
        <input type="number" name="CarNum">
      </div>
      
      <div class="form-group">
        <label for="sNum">Securety Number</label>
        <input type="number" name="sNum">
      </div>
      
      
      <div class="form-group">
        <label for="CardName">Name On Card</label>
        <input type="text" name="CardNameS">
      </div>
      
      <div class="form-group">
        <label for="Expiration ">Card Expiration </label>
        <input  type="month" name="bdaymonth" name="Expiration">
      </div>
      
</form>


