<!-- Footer -->
<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Contact Us</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><img src = "https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png" width = "20" height  = "20"><a class="grey-text text-lighten-3" href="http://www.instagram.com"> Instagram</a></li>
                <li><img src = "https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png" width = "20" height  = "20"><a class="grey-text text-lighten-3" href="http://twitter.com"> Twitter</a></li>
                <li><img src = "https://i.pinimg.com/originals/41/28/2b/41282b58cf85ddaf5d28df96ed91de98.png" width = "20" height  = "20" ><a class="grey-text text-lighten-3" href="http://facebook.com">Facebook</a></li>
                <li><img src = "http://pixsector.com/cache/4234b520/ava667ddb27600948759a.png" width = "20" height  = "20" ><a class="grey-text text-lighten-3" href="http://myspace.com">Myspace</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 Copyright Mememe Store
          <a class="grey-text text-lighten-4 right" href="https://mirror.uncyc.org/wiki/HAHAHA">More Links</a>
          </div>
        </div>
      </footer>