
<h4>This is you most up to date Billing info
    <br>
    Note that card number and securety number are not shown
</h4>

<form [formGroup]="billingForm" >
  
    <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input formControlName="cardNumber" type="number" required minlength="16" 
        maxlength="16"[ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors }" />
        <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
            <div *ngIf="f.cardNumber.errors.required">Card number is required</div>
        </div> 
      </div>
      
      <div class="form-group">
        <label for="sNum">Security Number</label>
        <input formControlName="securityCode" type="password" required minlength="3" 
        maxlength="3"[ngClass]="{ 'is-invalid': submitted && f.securityCode.errors }" />
        <div *ngIf="submitted && f.securityCode.errors" class="invalid-feedback">
            <div *ngIf="f.securityCode.errors.required">Secruity Number is required</div>
        </div>
      </div>
      
      
      <div class="form-group">
        <label for="CardName">Name On Card</label>
        <input formControlName="nameOnCard" placeholder="{{billingInfo[0].nameOnCard}}" type="text"[ngClass]="{ 'is-invalid': submitted && f.nameOnCard.errors }" />
        <div *ngIf="submitted && f.nameOnCard.errors" class="invalid-feedback">
            <div *ngIf="f.nameOnCard.errors.required">Name on Card is required</div>
        </div>
      </div>                                <!--Making some error-->
      
      <div class="form-group">
        <label for="Expiration ">Card Expiration </label>
        <input formControlName="expirationDate" placeholder="{{billingInfo[0].expirationDate}}" type="month" [ngClass]="{ 'is-invalid': submitted && f.expirationDate.errors }" />
        <div *ngIf="submitted && f.expirationDate.errors" class="invalid-feedback">
            <div *ngIf="f.expirationDate.errors.required">Card Expiration is required</div>
        </div>
      </div>

      <div>
          <button (click)="onSubmit()" [disabled]="!billingForm.valid" class="btn btn-primary">
            Update
          </button>
      </div>
      
</form>